html{
  scroll-behavior: smooth;

}

body{
 margin:0px;
  padding:0px;
      background-image:url( ../Images/bg-1.png);
    font-family: 'Roboto Slab', serif;
    background-repeat: no-repeat;
}
.all{
    max-width: 300px;
    max-height: 600px;
}
a {
    text-decoration: none;

}
a:hover{
  text-decoration: none;
}
.img2, .img3 {
    margin-top: -35px;
}

img {
    max-width: 100%;
    height: 100%;
}
.head{
  text-align: center;
  margin-top: 10px;
}
.coName{
margin:0px;
  color: white;
  font-size: 33px;
  font-weight: 700;
}
.coSlogan{
margin:0px;
  color: white;
  font-size: 21px;
  font-weight: 400;
}
.coEstablish{
  margin:10px;
  color: white;
  font-size: 15px;
  font-weight: 400;
}
.contents{
  text-align: center;
}
.para {
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin: -5px 0px 8px 0px;
    line-height: 25px;
}
.button {
    color: white;
    font-size: 15px;
    font-weight: 400;
    background-color: #323232;
    padding: 10px 30px;
    border-radius: 5px;
    transition-duration: 0.3s;
    border: none;

}
.button:hover{
  transform: translateY(-5px);
  box-shadow: 0px 2px 14px -1px #888888;
}


/* ===================================Media Query===================================== */

/* Small/Mobile Screen control */
@media only screen and (min-width: 300px) and (max-width: 330px){


body{
  background-size: cover; 
}
.all{
      max-width: 450px;
}
.contents {
    margin-top: 30px;
}

/*.head {
    margin-top: 10px;
}
section.images {
    margin-top: 10px;
}
.contents {
    text-align: center;
    margin-top: 50px;
}*/

}

/* Medium/Mobile Screen control */
@media only screen and (min-width: 331px) and (max-width: 380px){


body{
  background-size: cover; 
}
.all{
      max-width: 450px;
}
.contents {
    margin-top: 30px;
}

}

/* large/Mobile Screen control */
/*@media only screen and (min-width: 381px) and (max-width: 450px){



body{
  background-size: cover; 
}

.all{
      max-width: 450px;
}
section.images {
    margin-top: 30px;
}
.contents {
    margin-top: 30px;
}
}*/
/*Pixel 2XL Screen Control*/

@media only screen and (min-device-width: 411px) and (orientation: portrait) {

body{
  background-size: cover; 
}

.all{
      max-width: 450px;
}
.head{
  margin-top: 50px;
}
.images{
margin-top: 50px;
}
.contents{
  margin-top: 50px;
}


}
/* tablet Screen control */
@media only screen and (min-width: 451px) and (max-width: 780px){





}

/* laptop Screen control */
@media only screen and (min-width: 781px) and (max-width: 1050px){





}
