html{
  scroll-behavior: smooth;

}

body {
    margin: 0px auto;
    padding: 0px;
    max-width: 356px;
    height: 250px;
    background-image: url(../Images/bg-4.png);
    font-family: 'Roboto Slab', serif;
    background-repeat: no-repeat;
    background-position: center;
}
.all {
    width: 338px;
    height: 250px;
    overflow: hidden!important;
}
a {
    text-decoration: none;

}
a:hover{
  text-decoration: none;
}
section.right {

    float: right;
    margin-right: 35px;

}
img{
  max-width: 100%;
  height: auto;
}
.head{margin-bottom: 70px;}
.headDiv{
  text-align: center;
  margin: 20px 5px;
}
.coName{
margin:0px;
  color: white;
  font-size: 24px;
  font-weight: 700;
}
.coSlogan{
margin:0px;
  color: white;
  font-size: 15px;
  font-weight: 400;
}
.coEstablish{
  margin: 5px;
  color: white;
  font-size: 11px;
  font-weight: 400;
}
img.img1 {
    margin-top: -30px;
}
.img2,.img3{
  
margin-top: -25px;
}
.images{
  
display: inline-block;
  
width: 50%;
}
.contents {}
.para {
    color: white;
    font-size: 13px;
    font-weight: bold;
    margin-top: -10px;
    margin-bottom: 16px;
    line-height: 20px;
    text-align: center;
}
.button {
    color: white;
    font-size: 12px;
    font-weight: 400;
    background-color: #323232;
    padding: 5px 20px;
    border-radius: 5px;
    transition-duration: 0.3s;
    border: none;
    margin-left: 15px;
}
.button:hover{
  transform: translateY(-5px);
  box-shadow: 0px 2px 14px -1px #888888;
}
/* ===================================Media Query===================================== */

/* Small/Mobile Screen control */
@media only screen and (min-width: 300px) and (max-width: 330px){




body {
    max-width: 428px;
    height: 405px;
    background-size: cover;
}
.all {
    width: 375px;
    height: 405px;
}
img {
    height: 184px;
}
section.right {
    margin-top: 18px;
}
.images {
    display: inline-block;
    width: 50%;
    margin-left: -50px;
}
img.img1 {
    margin-top: -50px;
}
section.right {
    margin-top: 75px;
    margin-right: 62px;
}

}

/* Medium/Mobile Screen control */
@media only screen and (min-width: 331px) and (max-width: 380px){


body {
    max-width: 428px;
    height: 330px;
    background-size: cover;
}
.all {
    width: 375px;
    height: 330px;
}
img {
    height: 156px;
}
section.right {
    margin-top: 55px;
    margin-right: 68px;
}
img.img1 {
    margin-top: -50px;
}
.images {
    display: inline-block;
    width: 50%;
    margin-left: -45px;
}

}

/* large/Mobile Screen control */
@media only screen and (min-width: 381px) and (max-width: 450px){


body {
    max-width: 428px;
    height: 311px;
    background-size: cover;
}
.all {
    width: 375px;
    height: 311px;
}
img {
    height: 145px;
}
section.right {
    margin-top: 18px;
}
.images {
    display: inline-block;
    width: 50%;
    margin-left: -38px;
}
img.img1 {
    margin-top: -50px;
}
section.right {
    margin-top: 40px;
    margin-right: 54px;
}


}

/*Pixel 2XL Screen Control*/

@media only screen and (min-device-width: 411px) and (orientation: portrait) {




}
/* tablet Screen control */
@media only screen and (min-width: 451px) and (max-width: 780px){





}

/* laptop Screen control */
@media only screen and (min-width: 781px) and (max-width: 1050px){





}